---
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import { Link } from 'astro-link';

import { getHomePermalink, getAsset } from '~/utils/permalinks';
import { buttonVariants } from '~/components/ui/button';

interface LinkItem {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends LinkItem {
  type?: string;
}

interface MenuLink extends LinkItem {
  links?: Array<LinkItem>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  autoHide?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  links = [],
  actions = [],
  isSticky = false,
  autoHide = false,
  showToggleTheme = false,
  showRssFeed = false,
  position = 'center',
} = Astro.props;
---

<script>
  var lastScrollY = window.pageYOffset || 0;

  function updateScrollDirection() {
    var scrollY = window.pageYOffset;
    var direction = scrollY > lastScrollY ? 'down' : 'up';
    var element = document.getElementById('header');

    // Hide header on scroll down
    if (element?.hasAttribute('data-autohide') && Math.abs(scrollY - lastScrollY) > 10) {
      if (direction === 'down') {
        element.classList.remove('top-0');
        element.classList.add('-top-24');
      } else {
        element.classList.remove('-top-24');
        element.classList.add('top-0');
      }
    }

    // Toggle header background
    if (scrollY < 100) {
      element?.classList.remove('border-b', 'bg-background/90', 'backdrop-blur-lg');
    } else {
      element?.classList.add('border-b', 'bg-background/90', 'backdrop-blur-lg');
    }

    lastScrollY = scrollY > 0 ? scrollY : 0;
  }

  window.addEventListener('scroll', updateScrollDirection);
</script>

<header class="py-10">
  <div
    id="header"
    class="fixed left-0 top-0 z-20 w-full border-border py-1 backdrop-filter transition-all duration-500"
    data-autohide={autoHide}
  >
    <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between px-5 py-1">
      <Link class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </Link>
      <div class="spacer flex-grow"></div>
      <div class="flex space-x-4 md:order-3 md:ml-4">
        {showToggleTheme && <ToggleTheme />}
        <ToggleMenu className="md:hidden" />
      </div>
      <nav class="hidden w-full items-center md:order-2 md:flex md:w-auto" id="navbar" aria-label="Main navigation">
        <ul
          class="mt-4 flex flex-col rounded-lg border p-4 text-sm md:mt-0 md:flex-row md:space-x-3 md:border-0 md:p-0"
        >
          {
            links.map(({ text, href, links }) => (
              <li class={links?.length ? 'dropdown' : ''}>
                {links?.length ? (
                  ''
                ) : (
                  <Link class={buttonVariants({ variant: 'ghost' })} href={href}>
                    {text}
                  </Link>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
