---
import Layout from '~/layouts/PageLayout.astro';
import { buttonVariants } from '~/components/ui/button';
import { Link } from 'astro-link';
import { headerData } from '~/data';
import Header from '~/components/widgets/Header.astro';

import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout meta={{ title }}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme />
  </Fragment>
  <section class="mx-auto pb-5">
    <div class="mx-auto flex max-w-2xl flex-col items-center justify-center p-5">
      <h1 class="my-4 font-serif text-9xl font-extrabold leading-none">404</h1>
      <p class="mb-10 mt-3 text-xl">The page you're looking for can't be found.</p>
      <Link href={getHomePermalink()} class={buttonVariants({ variant: 'outline', size: 'lg' })}>
        <strong>Home</strong>
      </Link>
    </div>
  </section>

  <div class="relative" slot="bottom-grid">
    <div class="noise-underlay bg-grid absolute -left-[50vw] bottom-0 -z-50 h-[20rem] w-[150vw]"></div>
  </div>
</Layout>
