---
import Layout from '~/layouts/PageLayout.astro';
import { buttonVariants } from '~/components/ui/button';
import { Link } from 'astro-link';
import { headerData, socialData } from '~/data';
import Header from '~/components/widgets/Header.astro';
import { getHomePermalink } from '~/utils/permalinks';
import { Img } from 'astro-imagetools/components';
import { getGalleryImages } from '~/utils/images';
import Socials from '~/components/Socials.astro';

const images = await getGalleryImages();

const title = `Bio`;
---

<Layout meta={{ title }}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme DynamicBg={false} />
  </Fragment>

  <section class="mx-auto mt-10 flex w-full flex-wrap items-center justify-center text-start md:text-center">
    <div class="mx-3 max-w-2xl pt-5">
      <h1 class="font-serif text-4xl font-extrabold leading-none">{title}</h1>
      <p class="mt-5 text-muted-foreground">
        Hi! I am Abdulrahman Almutairi, a Kuwaiti photographer and student. My journey into the world of photography
        started in 2019, but it was during the COVID-19 pandemic when I truly got the opportunity to sharpen my skills
        and delve deeper into this art. Alongside photography, I have also learned photo editing tools such as Adobe
        Lightroom and Photoshop. Welcome to my portfolio, a window into capturing the world through my lens.
      </p>
      <Socials {...socialData} size="w-5 h-5" class="mt-5 space-x-4 text-muted-foreground" />
    </div>
  </section>

  <style is:global>
    .bio-carousel img {
      @apply !h-full !w-full !object-cover;
    }
  </style>
  <section class="bio-carousel my-20">
    <div data-rellax-speed="-3" class="rellax overflow-hidden px-1">
      <div class="flex items-center justify-center gap-1">
        <div class="h-96 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![0].url}
                alt=""
                width={images![0].width}
                height={images![0].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-80 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![1].url}
                alt=""
                width={images![1].width}
                height={images![1].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-72 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![2].url}
                alt=""
                width={images![2].width}
                height={images![2].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-64 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![3].url}
                alt=""
                width={images![3].width}
                height={images![3].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="hidden h-60 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96 sm:block">
          {
            (
              <Img
                src={images![4].url}
                alt=""
                width={images![4].width}
                height={images![4].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="hidden h-56 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96 sm:block">
          {
            (
              <Img
                src={images![5].url}
                alt=""
                width={images![5].width}
                height={images![5].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="hidden h-52 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96 sm:block">
          {
            (
              <Img
                src={images![6].url}
                alt=""
                width={images![6].width}
                height={images![6].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="hidden h-52 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96 sm:block">
          {
            (
              <Img
                src={images![7].url}
                alt=""
                width={images![7].width}
                height={images![7].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="hidden h-56 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96 sm:block">
          {
            (
              <Img
                src={images![8].url}
                alt=""
                width={images![8].width}
                height={images![8].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="hidden h-60 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96 sm:block">
          {
            (
              <Img
                src={images![9].url}
                alt=""
                width={images![9].width}
                height={images![9].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-64 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![10].url}
                alt=""
                width={images![10].width}
                height={images![10].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-72 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![11].url}
                alt=""
                width={images![11].width}
                height={images![11].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-80 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![12].url}
                alt=""
                width={images![12].width}
                height={images![12].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
        <div class="h-96 w-20 overflow-hidden rounded-md transition-all duration-500 hover:w-96">
          {
            (
              <Img
                src={images![13].url}
                alt=""
                width={images![13].width}
                height={images![13].height}
                quality={50}
                loading="lazy"
                format="webp"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>

  <div class="relative" slot="bottom-grid">
    <div class="noise-underlay bg-grid absolute -left-[50vw] bottom-0 -z-50 h-[20rem] w-[150vw]"></div>
  </div>
</Layout>
