---
import Layout from '~/layouts/PageLayout.astro';
import { headerData } from '~/data';
import Header from '~/components/widgets/Header.astro';
import ContactForm from '~/components/ContactForm.astro';

const title = 'Contact';
---

<Layout meta={{ title }}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme DynamicBg={false} />
  </Fragment>
  <section class="mx-auto py-5">
    <div class="mx-auto flex max-w-2xl flex-col items-center justify-center p-5">
      <!-- <h1 class="mb-5 text-4xl font-bold">Contact</h1> -->
      <ContactForm />
    </div>
  </section>

  <div class="relative" slot="bottom-grid">
    <div class="noise-underlay bg-grid absolute -left-[50vw] bottom-0 -z-50 h-[20rem] w-[150vw]"></div>
  </div>
</Layout>
