---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
import { headerData, socialData } from '~/data';
import Header from '~/components/widgets/Header.astro';
import ContactForm from '~/components/ContactForm.astro';
import Link from '~/components/Link.astro';
import Socials from '~/components/Socials.astro';
import Carousel from '~/components/Carousel.astro';
import { getGalleryImages } from '~/utils/images';

const images = await getGalleryImages();
images?.reverse();

const title = 'Contact me';
---

<Layout meta={{ title }}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme DynamicBg={false} />
  </Fragment>

  <section class="mx-auto mt-10 flex w-full flex-wrap items-center justify-center text-start">
    <div class="w-full md:w-1/2 md:px-20">
      <div class="mx-3 py-5">
        <h1 class="font-serif text-4xl font-extrabold leading-none">{title}</h1>
        <p class="mt-5 text-muted-foreground">
          Fill out the following form or you can send me an email at
          <Link href="mailto:m6tier@gmail.com"><strong>m6tier@gmail.com</strong></Link>. You can also find me on the
          following socials.
        </p>
        <Socials {...socialData} size="w-5 h-5" class="mt-5 space-x-4 text-muted-foreground md:justify-start" />
      </div>
    </div>
    <div class="w-full p-4 md:w-1/2 md:px-20">
      <ContactForm />
    </div>
  </section>

  <Carousel {images} />
</Layout>
