---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Gallery from '~/components/Gallery.astro';
import Socials from '~/components/Socials.astro';
import { socialData } from '~/data';
import { buttonVariants } from '~/components/ui/button';
import { Link } from 'astro-link';
import { Img } from 'astro-imagetools/components';
import { Icon } from 'astro-icon/components';
import { getAvatar, getGalleryImages } from '~/utils/images';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const images = await getGalleryImages();
const avatar = await getAvatar();
---

<Layout {meta}>
  <section class="hero relative mx-auto py-5">
    <!-- <div class="noise-underlay bg-grid absolute inset-0 -z-50"></div> -->
    <div
      class="avatar mx-auto h-32 w-32 translate-y-0 transform transition-all duration-500 ease-in-out hover:-translate-y-2"
    >
      <Img src={avatar!.url} alt="" loading="eager" format="webp" />
    </div>
    <div class="mx-3 pt-5">
      <h1 class="font-serif text-4xl font-extrabold leading-none">{SITE.name}</h1>
      <p class="mt-5 text-muted-foreground">A photographer, editor, and a student.</p>
      <Socials {...socialData} size="w-6 h-6" class="mt-5 space-x-4" />
    </div>
  </section>

  <section>
    <Gallery {images} class:list={'pb-0'} />

    <div class="relative z-auto m-0 flex flex-wrap justify-center gap-5 pb-28 pt-[10rem]">
      <div class="noise-underlay bg-grid absolute inset-0 -left-[50vw] -z-50 -mt-[40rem] w-[150vw]"></div>
      <Link
        href="https://www.instagram.com/m6tier/"
        class={buttonVariants({ variant: 'outline', size: 'lg' }) + ' truncate'}
      >
        <Icon name="ri:instagram-line" class="mr-2 h-4 w-4" />
        Follow me on Instagram for more
      </Link>
    </div>
  </section>

  <style is:global>
    .hero::before {
      @apply h-500vh absolute left-1/2 w-full -translate-x-1/2 transform;
      content: '';
      z-index: -1;
      height: 50vh;
      bottom: 60%;
      width: 150vw;
      background: url(/images/noise.webp) repeat, linear-gradient(266.93deg, #f8e42e 0%, #ff7d54 100%);
      background-blend-mode: overlay;
      mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 70%);
    }
    .dark .h-500vh {
      height: 150vh !important;
    }
  </style>
</Layout>
