---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Gallery from '~/components/Gallery.astro';
import Socials from '~/components/Socials.astro';
import { socialData } from '~/data';
import { buttonVariants } from '~/components/ui/button';
import { Link } from 'astro-link';
import { Icon } from 'astro-icon/components';
import { getGalleryImages } from '~/utils/images';
import Avatar from '~/components/Avatar.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const images = await getGalleryImages();
---

<Layout {meta}>
  <section class="hero mx-auto py-5">
    <Avatar />
    <div class="mx-3 pt-5">
      <h1 class="font-serif text-4xl font-extrabold leading-none">{SITE.name}</h1>
      <p class="mt-5 text-muted-foreground">A photographer, editor, and a student.</p>
      <Socials {...socialData} size="w-6 h-6" class="mt-5 space-x-2 text-muted-foreground md:space-x-4" />
    </div>
    <div class="absolute -top-10 left-0 -z-10 min-h-screen w-screen">
      <img
        src="/images/bghero-dark.webp"
        alt=""
        class="hidden h-[70vh] w-screen select-none object-cover object-right dark:block md:h-screen"
        decoding="async"
        loading="eager"
      />
      <img
        src="/images/bghero-light.webp"
        alt=""
        class="h-[70vh] w-screen select-none object-cover object-right dark:hidden md:h-screen"
        decoding="async"
        loading="eager"
      />
    </div>
  </section>

  <section>
    <Gallery {images} />

    <div class="relative flex flex-wrap justify-center py-28">
      <Link
        href="https://www.instagram.com/m6tier/"
        class={buttonVariants({ variant: 'outline', size: 'lg' }) + ' truncate'}
      >
        <Icon name="ri:instagram-line" class="mr-2 h-4 w-4" />
        View more on Instagram
      </Link>
    </div>
  </section>

  <div slot="bottom-grid" class="noise-underlay bg-grid absolute bottom-0 -z-50 h-[50%] w-screen"></div>
</Layout>
