---
import { Img } from 'astro-imagetools/components';
import { getAvatar } from '~/utils/images';

const avatar = await getAvatar();
---

<style is:global>
  .avatar img {
    @apply h-full w-full transform rounded-full border border-border object-cover object-center transition-transform duration-500 hover:scale-105;
  }
</style>

<div class="avatar relative mx-auto h-32 w-32">
  <Img src={avatar!.url} alt="" loading="eager" format="webp" layout="fill" />
</div>
