---
// import { Image } from 'astro:assets';
import '~/assets/styles/lightgallery.scss';
import { Image } from '@astrojs/image/components';
import { getImage } from '@astrojs/image';

interface ImageInfo {
  url: string | any;
  width?: number;
  height?: number;
}

export interface Props {
  images: ImageInfo[];
}

const { images } = Astro.props;

const loadedImages = await Promise.all(
  images.map(async ({ url, width, height }) => {
    return await getImage({
      // src:  width ? import.meta.env.STRAPI_URL + url : url,
      src: url,
      alt: '',
      format: 'webp',
      width: width,
      height: height,
    });
  })
);
---

<script>
  import lightGallery from 'lightgallery';
  // import plugins if you need
  import lgThumbnail from 'lightgallery/plugins/thumbnail';
  import lgZoom from 'lightgallery/plugins/zoom';

  const lightGalleryElement = document.getElementById('lightgallery');
  if (lightGalleryElement) {
    lightGallery(lightGalleryElement, {
      plugins: [lgZoom, lgThumbnail],
      speed: 500,
      selector: '.item',
    });
  }
</script>

<script>
  import Masonry from 'masonry-layout';
  import imagesLoaded from 'imagesloaded';
  // document.addEventListener('DOMContentLoaded', () => {
  const msnry = new Masonry('#lightgallery', {
    itemSelector: '.item',
    columnWidth: '.item',
    percentPosition: true,
  });

  imagesLoaded('#lightgallery').on('progress', function (instance, image) {
    if (image.isLoaded) {
      image.img.parentNode.classList.add('border');
    }
    msnry.layout();
  });
  window.addEventListener('resize', msnry.layout(), { passive: true });
  // });
</script>

<div id="lightgallery" class:list={['py-12', Astro.props['class:list']]}>
  {
    images.map(({ url, width, height }, index) => (
      <div class="item break-inside w-1/2 p-1 md:p-2 lg:w-1/4" data-src={loadedImages[index].src}>
        <div class="overflow-hidden rounded border-border">
          <Image
            class="h-auto max-w-full object-cover transition duration-300 ease-in-out hover:scale-110 hover:cursor-zoom-in"
            src={url}
            alt=""
            quality={75}
            format="webp"
            width={width}
            height={height}
            loading={index < 8 ? 'eager' : 'lazy'}
          />
        </div>
      </div>
    ))
  }
</div>
