---
import { Icon } from 'astro-icon/components';

const { size = 'h-6 w-6' } = Astro.props;
---

<span
  class="inline-flex items-center self-center rounded-md p-2 font-bold tracking-tighter transition-colors hover:bg-accent hover:text-accent-foreground"
>
  <Icon name="tabler:camera-selfie" class:list={[size, 'inline-block align-baseline']} />
</span>
