---
import { Icon } from 'astro-icon/components';
// px-4 py-2
---

<span
  class="ml-2 inline-flex items-center self-center rounded-md p-2 font-bold tracking-tighter transition-colors hover:bg-accent hover:text-accent-foreground"
>
  <Icon name="tabler:camera-selfie" class="inline-block h-7 w-7 align-baseline" />
  {
    /*
  Abdulrahman
  <span class="hidden md:inline-block">&nbsp;Almutairi</span>
  */
  }
</span>
