@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'global.css';
@import 'fonts';

.bg-grid {
  background-size: 25px 25px;
  background-image: linear-gradient(to right, hsl(var(--muted)) 1px, transparent 1px),
    linear-gradient(to bottom, hsl(var(--muted)) 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
  mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
}

#header.scroll {
  @apply border-b bg-background/90 backdrop-blur-lg;
}

@layer utilities {
  .animate-paused {
    animation-play-state: paused;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.faded-section:before,
.faded-section:after {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 15;
  pointer-events: none;
}

.faded-section:before {
  left: 0;
  background: linear-gradient(to right, hsl(var(--background)) 0%, transparent 100%);
}

.faded-section:after {
  right: 0;
  background: linear-gradient(to left, hsl(var(--background)) 0%, transparent 100%);
}

[data-aw-toggle-menu] path {
  @apply transition-transform duration-300;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply translate-x-[-3px] translate-y-[15px] -rotate-45;
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply translate-x-[14px] translate-y-[-8px] rotate-45;
}

// Alpinejs Cloak
[x-cloak] {
  display: none !important;
}
