@import '@fontsource/inter/variable.css';

//  GT Super
@font-face {
  font-family: 'GT Super';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/GT-Super-Display-Bold.woff2') format('woff2'),
    url('/fonts/GT-Super-Display-Bold.woff') format('woff');
}
@font-face {
  font-family: 'GT Super';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/GT-Super-Display-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'GT Super';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/GT-Super-Display-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'GT Super';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/GT-Super-Display-Super.woff2') format('woff2');
}

:root {
  --font-sans: 'InterVariable', sans-serif;
  --font-serif: 'GT Super', serif;
}
