---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
// import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme autoHide />
  </slot>
  <main
    class="relative mx-auto flex w-screen max-w-screen-2xl flex-1 justify-center px-2 py-2 sm:py-8 md:px-7 xl:px-8 2xl:px-10"
  >
    <article class:list={['mx-auto w-full text-center', Astro.props['class:list']]}>
      <slot />
    </article>
  </main>
  <slot name="bottom-grid" />
  <slot name="footer">
    <Footer {...footerData} />
  </slot>

  <style is:global>
    main::before {
      @apply absolute -rotate-[30deg] transform;
      content: '';
      z-index: -1;
      left: -10vw;
      top: 0vh;
      width: 150vw;
      height: 60vh;
      background: url(/images/noise.webp) repeat,
        radial-gradient(ellipse, hsl(var(--muted-foreground)) 0%, hsl(var(--muted)) 100%);
      background-blend-mode: overlay;
      mask-image: radial-gradient(ellipse, rgba(0, 0, 0, var(--alpha)), transparent 60%);
    }
  </style>
</Layout>
