---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';

import { headerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme autoHide />
  </slot>

  <main class="mx-auto flex w-screen max-w-screen-2xl flex-1 justify-center p-2 sm:py-8 md:px-7 xl:px-8 2xl:px-10">
    <article class:list={['mx-auto w-full text-center', Astro.props['class:list']]}>
      <slot />
    </article>
    <slot name="bottom-grid" />
  </main>

  <div class="relative -z-40">
    <div class="bg-gradient-to-t from-background to-transparent h-[45rem] w-full absolute bottom-0 left-0 z-0"></div>
  </div>

  <slot name="footer">
    <Footer />
  </slot>
</Layout>
